<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required formControlName="Email"></ion-input>
    </ion-item>

    <ion-row *ngIf="!forgotPasswordForm.get('Email').valid && forgotPasswordForm.get('Email').touched">
      <ion-col size-sm="6" offset-sm="3">
        <ion-text color="danger">Email is invalid</ion-text>
        
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-button disabled="forgotPasswordForm.invalid"  type="submit" color="success" expand="block">Send</ion-button>
      </ion-col>
    </ion-row>

    <small>
      Please provide the username or email address that you used when you signed
      up for your K-Etabu account.
    </small>
  </form>
</ion-content>